

body{
  font-family: sans-serif;
  background-color: #F2F1E8;
  margin: 0;
  /*display: flex;
  justify-content: center;*/
}
.wrapper{
  display:flex;
  flex-direction: column;
  /*justify-content: center;*/
  text-align: center;

}
.home-header{
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  /*flex-shrink: 1;*/

}
.home-header a{
  align-self: center;
  margin: 20px 40px;
  color: #2B2F26;
  font-size: 1.2em;
}
.home-header img{
  width: 30px;
  height: 30px;
  align-self:flex-start;
  padding: 10px 10px;
}
nav{
  display: flex;
  margin: auto;
  /*flex-grow: 1.2;*/
  /*margin-left: 50px;*/
}
/*.logo{
  flex-grow: 1;
}*/

main{
  display:flex;
  width: 1280px;
  display: inline-block;
  /*flex-flow: column wrap;*/
  /*margin: auto;
  flex-basis: 60%;*/
  /*justify-content: center;*/
  /*align-items: center;*/
}
.rows{
  display: flex;
  justify-content: center;
}
.top-row{
  display: flex;
  justify-content: center;
  margin:0;
}
.bottom-row{
  display: flex;
  margin: 0;
  justify-content: center;
}
.product-images{
  /*flex-grow: 1;*/
  /*flex-shrink: 1;*/
  margin: 0 10px;
  text-align: left;
}
.product-images img{
  height: 300px;
}
.bottom-row .product-images img{
  height: 146px;
}
.product-images p{
  position: relative;
  margin: 0;
  top: -60px;
  padding: 10px 10px 10px 0;

  color: #F2F1E8;
  background-color: #201A1C
  /*flex-shrink: 1;*/
}
/*.top-row{
  display:flex;
  justify-content: center;
}*/
/*#image-1 img{
  width: 200px;
}
#image-2 img{
  width: 300px;
}
#image-3 img{
  width: 200px;
}
#image-4 img{
  width: 100px;
  flex-shrink: 1;
}
#image-5 img{
  width: 100px;
  flex-shrink: 1;
}
#image-6 img{
  width: 100px;
  flex-shrink: 1;
}
#image-7 img{
  width: 100px;
  flex-shrink: 1;
}*/
