

body{
  font-family: sans-serif;
  background-color: #F2F1E8;
  margin: 0;
  /*display: flex;
  justify-content: center;*/
  align-content: center;
}
.wrapper{
  display:flex;
  flex-direction: column;
  /*justify-content: center;*/
  text-align: center;
  line-height: 1.8;

}
h1, h3, p{
  font-family: 'Merriweather', serif;

}
h1{
  font-size: 3em;
  font-weight: normal;
  margin-bottom: 0;
  text-align: center;
}
h3{
  font-weight: lighter;
  margin-top: 0;
  margin-bottom: 40px;
  font-size: 1.8em;
}
.home-header{
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  /*flex-shrink: 1;*/

}
.home-header a{
  align-self: center;
  margin: 20px 40px;
  color: #2B2F26;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
.home-header img{
  width: 30px;
  height: 30px;
  align-self:flex-start;
  padding: 10px 10px;
}
nav{
  display: flex;
  margin: auto;
  /*flex-grow: 1.2;*/
  /*margin-left: 50px;*/
}
/*.logo{
  flex-grow: 1;
}*/

main{
  display:flex;
  width: 1280px;
  display: inline-block;
  /*flex-flow: column wrap;*/
  /*margin: auto;
  flex-basis: 60%;*/
  /*justify-content: center;*/
  /*align-items: center;*/
}
.half-page{
  align-content: center;
}
main.about-page{
  width:800px;
  text-align: left;
}
.rows{
  display: flex;
  justify-content: center;
}
.top-row{
  display: flex;
  justify-content: center;
  margin:0;
}
.bottom-row{
  display: flex;
  margin: 0;
  justify-content: center;
}
.product-images{
  /*flex-grow: 1;*/
  /*flex-shrink: 1;*/
  margin: 0 10px;
  text-align: left;
}
.product-images img{
  height: 300px;
}
.bottom-row .product-images img{
  height: 146px;
}
.product-images p{
  position: relative;
  margin: 0;
  top: -60px;
  padding: 10px 10px 10px 10px;
  color: #F2F1E8;
  background-color: #2B2F26;
  /*flex-shrink: 1;*/
}
footer{
  text-align: left;
}
footer p{
  padding: 10px;
  background-color: #2B2F26;
  color: #F2F1E8;
  font-weight: lighter;
  margin-bottom: 0;
}
/*About page CSS*/
#top-half{
  display:flex;
  justify-content: space-around;
}
.about-page{
  flex-basis: 50%;
}
#bottom-half{
  display:flex;
  justify-content: space-around;
}
.wrapper p{
  margin-top: 0;
}
.section1 img{
  width: 100px;
  float: left;
}
.section3 img{
  width: 100px;
}
blockquote{
  border-left: solid 1px;
  padding-left: 30px;
}
.middle-banner{
  background-image: url(./images/background-3.jpg);
  background-position: center;
  background-size: cover;
  height: 200px;
  color: white;
  margin: 30px 0;
}
.middle-banner h1{
  padding-top: 50px;
}
.half-page #bottom-half article{
  float: left;
}
.section3{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.article3{
  flex-basis: 80%;
}
.image-n-caption{
  flex-basis: 10%;
}
thead{
  text-align: center;
}
td{
  border: solid 1px;
  padding: 8px;
}
tr:nth-child(1), tr:nth-child(3){
  background-color: #C5BAA4;
}
thead tr td{
  background-color: #F2F1E8;
}
